# S&P 500 Composition Changes

Data collected from website called: [Siblis Research](https://siblisresearch.com/data-services-pricing/)

In [1]:
import numpy as np
import pandas as pd

# To print nicely
from rich import print, inspect
from rich.traceback import install
install()

## Collecting Add Date and Stock Ticker

In [4]:
sp500_composition = pd.read_csv("S&P 500 Composition Changes 1970 - 2024 - Component Changes.csv")
sp500_composition.head()

,Company Name,Ticker,Previous Name & Ticker,Company Name.1,Ticker.1,Previous Name & Ticker.1,Change Date
0,Amentum Holdings Inc,AMTM,NaN,Bath & Body Works Inc,BBWI,NaN,"September 27, 2024"
1,Palantir Technologies Inc,PLTR,NaN,American Airlines Group Inc,AAL,NaN,"September 20, 2024"
2,Dell Technologies Inc,DELL,NaN,Etsy Inc,ETSY,NaN,"September 20, 2024"
3,Erie Indemnity Co,ERIE,NaN,Bio-Rad Laboratories Inc,BIO,NaN,"September 20, 2024"
4,KKR & Co Inc,KKR,NaN,Robert Half Inc,RHI,NaN,"June 21, 2024"

In [11]:
add_data = sp500_composition[["Change Date", "Ticker"]]
add_data.head()

          Change Date Ticker
0  September 27, 2024   AMTM
1  September 20, 2024   PLTR
2  September 20, 2024   DELL
3  September 20, 2024   ERIE
4       June 21, 2024    KKR

Convert the string date to padas date datatype.

In [14]:
add_data.loc[:, "Change Date"] = pd.to_datetime(add_data["Change Date"]).dt.date
add_data.head()

  Change Date Ticker
0  2024-09-27   AMTM
1  2024-09-20   PLTR
2  2024-09-20   DELL
3  2024-09-20   ERIE
4  2024-06-21    KKR

Only keep data since Jan 1 2000

In [15]:
add_data = add_data[add_data["Change Date"] >= pd.to_datetime("2000-01-01").date()]

Cleaning the data

In [16]:
add_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 615 entries, 0 to 614
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Change Date  615 non-null    object
 1   Ticker       615 non-null    object
dtypes: object(2)
memory usage: 14.4+ KB

In [18]:
add_data["Ticker"].unique()

array(['AMTM', 'PLTR', 'DELL', 'ERIE', 'KKR', 'CRWD', 'GDDY', 'VST', '-',
       'GEV', 'SOLV', 'DECK', 'SMCI', 'UBER', 'JBL', 'BLDR', 'LULU',
       'HUBB', 'VLTO', 'BX', 'ABNB', 'KVUE', 'PANW', 'AXON', 'FICO', 'BG',
       'PODD', 'GEHC', 'STLD', 'FSLR', 'MBC', 'ACGL', 'TRGP', 'PCG',
       'EQT', 'CSGP', 'INVH', 'ON', 'KDP', 'VICI', 'CPT', 'MOH', 'NDSN',
       'CEG', 'SBNY', 'SEDG', 'FDS', 'EPAM', 'MTCH', 'DAY', 'BRO', 'TECH',
       'MRNA', 'OGN', 'CRL', 'PTC', 'NXPI', 'PENN', 'GNRC', 'CZR', 'MPWR',
       'TRMB', 'ENPH', 'TSLA', 'VNT', 'POOL', 'ETSY', 'TER', 'CTLT',
       'TYL', 'BIO', 'TDY', 'WST', 'DXCM', 'DPZ', 'CARR', 'OTIS', 'IR',
       'PAYC', 'STE', 'ZBRA', 'LYV', 'ODFL', 'WRB', 'NOW', 'LVS', 'NVR',
       'CDW', 'LDOS', 'IEX', 'TMUS', 'MKTX', 'AMCR', 'CTVA', 'DOW',
       'FOXA', 'FOX', 'WAB', 'ATO', 'TFX', 'FRC', 'CE', 'FANG', 'MXIM',
       'LW', 'JKHY', 'KEYS', 'FTNT', 'ROL', 'WCG', 'ANET', 'CPRT', 'CPAY',
       'HFC', 'BR', 'TWTR', 'EVRG', 'ABMD', 'MSCI', 'TTWO', 'SIVB',
       'NKTR', 'IPGP', 'HII', 'NCLH', 'CDNS', 'SBAC', 'IQV', 'BHF', 'MGM',
       'RMD', 'PKG', 'AOS', 'DRE', 'EG', 'HLT', 'ALGN', 'ANSS', 'INFO',
       'IT', 'DXC', 'AMD', 'RJF', 'ARE', 'SNPS', 'DISH', 'REG', 'CBOE',
       'INCY', 'IDXX', 'MAA', 'EVHC', 'HWM', 'COTY', 'COO', 'CHTR', 'MTD',
       'FTV', 'LNT', 'ALB', 'FBIN', 'TDG', 'AJG', 'LKQ', 'DLR', 'ALK',
       'AYI', 'GPN', 'ULTA', 'UA', 'FL', 'HOLX', 'CNC', 'UDR', 'AWK',
       'CXO', 'CFG', 'FRT', 'EXR', 'WTW', 'CHD', 'CSRA', 'ILMN', 'SYF',
       'HPE', 'VRSK', 'CMCSK', 'FOX (Old)', 'NWS', 'UAL', 'ATVI', 'SIG',
       'PYPL', 'AAP', 'CPGX', 'JBHT', 'BXLT', 'QRVO', 'O', 'AAL', 'EQIX',
       'SLG', 'HBI', 'HSIC', 'SWKS', 'HCA', 'ENDP', 'RCL', 'LVLT', 'URI',
       'UHS', 'MNK', 'DISCK', 'MLM', 'AMG', 'XEC', 'AVGO', 'UA.A', 'NAVI',
       'GOOG', 'ESS', 'GMCR', 'TSCO', 'ADS', 'MHK', 'META', 'GGP', 'ALLE',
       'CPRI', 'RIG', 'VRTX', 'AME', 'DAL', 'NLSN', 'NWSA', 'ZTS', 'GM',
       'KSU', 'MAC', 'REGN', 'PVH', 'ABBV', 'APTV', 'GRMN', 'DG', 'PETM',
       'KHC', 'ADT', 'PNR', 'LYB', 'VAL', 'STX', 'MNST', 'LRCX', 'ALXN',
       'KMI', 'PSX', 'FOSL', 'CCI', 'WPX', 'TRIP', 'BWA', 'PRGO', 'DLTR',
       'GAS', 'CBE', 'XYL', 'TEL', 'MOS', 'ACN', 'MPC', 'ANR', 'CMG',
       'BLK', 'EW', 'COV', 'JOY', 'NE', 'MMI (Mot)', 'RMG', 'FFIV',
       'NFLX', 'NFX', 'TT', 'JCI', 'CB', 'QEP', 'KMX', 'CERN', 'OKE',
       'WBD', 'HP', 'BRK.B', 'URBN', 'NRG', 'ROP', 'MJN', 'V', 'ROST',
       'CLF', 'BKNG', 'ARG', 'CFN', 'FMC', 'RHT', 'WDC', 'PWR', 'ATGE',
       'FTI', 'DNR', 'TWC', 'ORLY', 'ES', 'VTR', 'HRL', 'DO', 'WELL',
       'IRM', 'SCG', 'FLIR', 'OI', 'MFE', 'RSG', 'DNB', 'LIFE (Tech)',
       'SRCL', 'CEPH', 'XRAY', 'WYNN', 'PBCT', 'SJM', 'WEC', 'NDAQ',
       'DPS', 'FLS', 'APH', 'PXD', 'LHX', 'CRM', 'FAST', 'CF', 'IVZ',
       'DVA', 'MA', 'SNI', 'AKS', 'MEE', 'CTRA', 'LO', 'SWN', 'ISRG',
       'DOC', 'PM', 'CAM', 'TSS', 'GHC', 'RRC', 'GME', 'AMT', 'MTW',
       'POM', 'TIE', 'J', 'NYX', 'EXPD', 'NBL', 'EXPE', 'TDC', 'ANDV',
       'ICE', 'MCHP', 'JEF', 'AKAM', 'ACAS', 'DFS', 'PCP', 'SUNEQ', 'AIZ',
       'MDLZ', 'ANF', 'SITC', 'HST', 'CHRW', 'TEG', 'HCBK', 'VAR', 'RL',
       'AVB', 'SE', 'TEX', 'DTV', 'IAC', 'STR', 'BTU', 'CTSH', 'CBRE',
       'FIS', 'CELG', 'SII', 'WU', 'CME', 'WYND', 'RLGY', 'WIN', 'CNX',
       'CBH', 'JNPR', 'EQ (Emb)', 'LM', 'SNDK', 'DF', 'KIM', 'BXP',
       'GOOGL', 'CHK', 'BRL', 'VRSN', 'HAR', 'EL', 'VIAB', 'WFM', 'SSP',
       'GNW', 'AMZN', 'PDCO', 'LEN', 'AMP', 'CVH', 'PSA', 'MUR', 'VNO',
       'TSN', 'WFT', 'DHI', 'STZ', 'SHLD', 'NOV', 'XTO', 'ASN',
       'FOXA (Old)', 'CBSS', 'FSLB', 'LLL', 'LH', 'CIT', 'TPR', 'FSH',
       'GILD', 'SOV', 'HSP', 'VLO', 'VTRS', 'ACS', 'ETFC', 'CMX', 'MTB',
       'BIIB', 'ESRX', 'MHS', 'PLD', 'FHI', 'GEN', 'MKC', 'AIV', 'AN',
       'DGX', 'CMCSA', 'RAI', 'TAP.B', 'MON', 'ELV', 'EA', 'UPS', 'GS',
       'PRU', 'EBAY', 'PFG', 'SDS', 'NFB', 'SPG', 'BJS', 'APOL',
       'TT (Tra)', 'FHN', 'MI', 'RATL', 'PCL', 'WAT', 'JNY', 'GENZ',
       'EQR', 'NVDA', 'HMA', 'TE', 'EOP', 'IMNX', 'XL', 'IGT (Old)',
       'CIEN', 'COR', 'ZBH', 'FDO', 'PMCS', 'AWE', 'COL', 'JHF', 'ZION',
       'MWW', 'PBG', 'GEN (Gen)', 'CE (Con)', 'FI', 'CTAS', 'FTR', 'UVN',
       'AMCC', 'FLR', 'VTSS', 'SYK', 'QLGC', 'AYE', 'AMBC', 'SBL', 'MET',
       'INTU', 'RHI', 'CPN', 'CHIR', 'FRX', 'HOT', 'BVSN', 'NI', 'EOG',
       'PWER', 'NBR', 'KG', 'MCO', 'DYN', 'AV', 'DVN', 'KSE', 'PALM',
       'VIAV', 'JNS', 'Q (Qwe)', 'BRCM', 'MERQ', 'VC', 'SANM', 'TIF',
       'CF (Char)', 'NVLS (Nove)', 'MEDI', 'CVG', 'SBUX', 'A', 'APCC',
       'SEBL', 'SAPE', 'ALTR (Alt)', 'LLTC', 'VRTS (Veri)', 'TSG', 'BGEN',
       'CNXT', 'HOG', 'YNR', 'NCR'], dtype=object)

In [19]:
add_data = add_data[add_data["Ticker"] != "-"]

In [20]:
add_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 581 entries, 0 to 614
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Change Date  581 non-null    object
 1   Ticker       581 non-null    object
dtypes: object(2)
memory usage: 13.6+ KB

In [24]:
add_data.sort_values("Change Date", inplace=True)
add_data.reset_index(drop=True, inplace=True)
add_data.head()

  Change Date Ticker
0  2000-01-03    NCR
1  2000-01-05    YNR
2  2000-01-28   CNXT
3  2000-01-28    HOG
4  2000-01-28   BGEN

Writing the data to csv as the final data

In [25]:
add_data.to_csv("../../sp500_additions.csv", index=False)

## Collecting Remove Date and Stock Ticker

In [36]:
sp500_composition = pd.read_csv("S&P 500 Composition Changes 1970 - 2024 - Component Changes.csv")
sp500_composition.head()

,Company Name,Ticker,Previous Name & Ticker,Company Name.1,Ticker.1,Previous Name & Ticker.1,Change Date
0,Amentum Holdings Inc,AMTM,NaN,Bath & Body Works Inc,BBWI,NaN,"September 27, 2024"
1,Palantir Technologies Inc,PLTR,NaN,American Airlines Group Inc,AAL,NaN,"September 20, 2024"
2,Dell Technologies Inc,DELL,NaN,Etsy Inc,ETSY,NaN,"September 20, 2024"
3,Erie Indemnity Co,ERIE,NaN,Bio-Rad Laboratories Inc,BIO,NaN,"September 20, 2024"
4,KKR & Co Inc,KKR,NaN,Robert Half Inc,RHI,NaN,"June 21, 2024"

In [37]:
remove_data = sp500_composition[["Change Date", "Ticker.1"]]
remove_data.head()

          Change Date Ticker.1
0  September 27, 2024     BBWI
1  September 20, 2024      AAL
2  September 20, 2024     ETSY
3  September 20, 2024      BIO
4       June 21, 2024      RHI

In [38]:
remove_data = remove_data.rename(columns={"Ticker.1": "Ticker"})

In [39]:
remove_data.head()

          Change Date Ticker
0  September 27, 2024   BBWI
1  September 20, 2024    AAL
2  September 20, 2024   ETSY
3  September 20, 2024    BIO
4       June 21, 2024    RHI

Convert the string date to padas date datatype.

In [40]:
remove_data.loc[:, "Change Date"] = pd.to_datetime(remove_data["Change Date"]).dt.date
remove_data.head()

  Change Date Ticker
0  2024-09-27   BBWI
1  2024-09-20    AAL
2  2024-09-20   ETSY
3  2024-09-20    BIO
4  2024-06-21    RHI

Only keep data since Jan 1 2000

In [41]:
remove_data = remove_data[remove_data["Change Date"] >= pd.to_datetime("2000-01-01").date()]

Cleaning the data

In [42]:
remove_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 615 entries, 0 to 614
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Change Date  615 non-null    object
 1   Ticker       615 non-null    object
dtypes: object(2)
memory usage: 14.4+ KB

In [43]:
remove_data["Ticker"].unique()

array(['BBWI', 'AAL', 'ETSY', 'BIO', 'RHI', 'CMA', 'ILMN', 'PXD', 'XRAY',
       'VFC', '-', 'ZION', 'WHR', 'SEE', 'ALK', 'SEDG', 'ATVI', 'OGN',
       'DXC', 'LNC', 'NWL', 'AAP', 'DISH', 'FRC', 'LUMN', 'SBNY', 'SIVB',
       'VNO', 'ABMD', 'FBIN', 'MBC', 'TWTR', 'NLSN', 'CTXS', 'DRE', 'PVH',
       'PENN', 'IPGP', 'UA', 'UA.A', 'CERN', 'DISCK', 'PBCT', 'INFO',
       'XLNX', 'GPS', 'LEG', 'HBI', 'WU', 'KSU', 'PRGO', 'UNM', 'NOV',
       'MXIM', 'ALXN', 'HFC', 'FLIR', 'VAR', 'FLS', 'SLG', 'XRX', 'VNT',
       'FTI', 'CXO', 'TIF', 'AIV', 'NBL', 'ETFC', 'HRB', 'COTY', 'KSS',
       'HOG', 'JWN', 'ADS', 'HP', 'AGN', 'CPRI', 'M', 'RTN', 'XEC', 'WCG',
       'MAC', 'TRIP', 'AMG', 'STI', 'VIAB', 'CELG', 'NKTR', 'JEF', 'TSS',
       'APC', 'FL', 'RHT', 'LLL', 'MAT', 'FLR', 'BHF', 'FOXA (Old)',
       'FOX (Old)', 'GT', 'NFX', 'PCG', 'SCG', 'ESRX', 'SRCL', 'AET',
       'COL', 'EQT', 'CA', 'EVHC', 'ANDV', 'XL', 'GGP', 'DPS', 'TWX',
       'AYI', 'RRC', 'MON', 'NAVI', 'WYND', 'CSRA', 'SIG', 'PDCO', 'CHK',
       'SNI', 'BCR', 'LVLT', 'SPLS', 'DD (Old)', 'WFM', 'AN', 'RAI',
       'MNK', 'MUR', 'BBBY', 'RIG', 'MJN', 'YHOO', 'TDC', 'R', 'TGNA',
       'DNB', 'SWN', 'URBN', 'FTR', 'FSLR', 'HAR', 'LLTC', 'ENDP', 'PBI',
       'SE', 'STJ', 'OI', 'LM', 'AA', 'DO', 'HOT', 'EMC', 'JCI (Old)',
       'CPGX', 'GAS', 'TE', 'RMG', 'BXLT', 'CCE', 'ARG', 'TWC', 'SNDK',
       'ADT', 'GME', 'THC', 'CAM', 'POM', 'VAL', 'GMCR', 'CNX', 'PCL',
       'PCP', 'BRCM', 'CB (Old)', 'FOSL', 'ALTR (Alt)', 'CMCSK', 'CSC',
       'SIAL', 'GNW', 'HCBK', 'JOY', 'HSP', 'PLL', 'DTV', 'NE', 'FDO',
       'ATI', 'TEG', 'QEP', 'LO', 'WIN', 'AGN (Old)', 'DNR', 'NBR', 'AVP',
       'CFN', 'PETM', 'SWY', 'COV', 'BMS', 'JBL', 'BTU', 'GHC', 'RDC',
       'X', 'FRX', 'IGT (Old)', 'LSI (LSI)', 'BEAM (Sun)', 'SLM', 'CLF',
       'WPX', 'LIFE (Tech)', 'ANF', 'VIAV', 'TER', 'MOLX', 'JCP', 'NYX',
       'DELL', 'AMD', 'LDOS', 'BMC', 'S', 'APOL', 'FHN', 'HNZ', 'DF',
       'CVH', 'TMUS', 'BIG', 'FHI', 'TIE', 'RRD', 'CBE', 'SUN (Sun)',
       'ANR', 'LXK', 'ATGE', 'SHLD', 'GR', 'PGN', 'HSH', 'NVLS (Nove)',
       'MMI (Mot)', 'EP', 'SVU', 'MHS', 'CEG (Old)', 'CPWR', 'TLAB',
       'AKS', 'MWW', 'SUNEQ', 'GAS (Nico)', 'JNS', 'ITT', 'CEPH',
       'NSM (Nat)', 'MI', 'RSH', 'MEE', 'NOVL', 'GENZ', 'Q (Qwe)', 'MFE',
       'AYE', 'QLGC', 'MDP', 'KG', 'KODK', 'ODP', 'NYT', 'PTV', 'SII',
       'MIL', 'STR', 'XTO', 'BJS', 'BDK', 'PBG', 'IMS', 'BNI', 'ACS',
       'JAVA', 'MBI', 'CIEN', 'DYN', 'KBH', 'CVG', 'SGP', 'WYE', 'MTW',
       'CTX', 'CIT', 'EQ (Emb)', 'TT', 'TEL', 'GM', 'ROH', 'SITC', 'JCI',
       'JNY', 'ACAS', 'WFT', 'SOV', 'UST', 'MER', 'NCC', 'WB', 'BRL',
       'AW', 'KATE', 'ABI', 'BUD (Anh)', 'HPC', 'ASH', 'UIS', 'TEX',
       'MTG', 'DDS', 'WWY', 'WEN', 'COOP', 'SAF', 'LEHMQ', 'FMCC', 'FNMA',
       'EDS', 'IAC', 'IHRT', 'CB', 'SSP', 'CFC', 'OMX (Old)', 'BC',
       'AMBC', 'TT (Tra)', 'BSC', 'CBH', 'CC (Circ)', 'CZR (Har)', 'SNV',
       'TIN', 'TRCO', 'DJ', 'AT (All)', 'TEK', 'HCR', 'BOL', 'AV', 'HLT',
       'TXU', 'ASN', 'SLR', 'NCR', 'FDC', 'CBSS', 'KSE', 'BMET', 'DG',
       'PMCS', 'SANM', 'MEL', 'ADCT', 'MEDI', 'KMI', 'RLGY', 'TSG', 'UVN',
       'CMX', 'PD', 'HMA', 'PGL', 'APCC', 'EOP', 'CMVT', 'SBL', 'BLS',
       'PAR', 'NAV', 'FSLB', 'LU', 'NFB', 'HCA', 'ACV', 'FSH', 'LPX',
       'ASO', 'GDW', 'ANDW', 'KMG (Ker)', 'CAR', 'GTW', 'CTB', 'KRI',
       'EC', 'ABS', 'AMCC', 'GDT', 'CHIR', 'MYG', 'JP', 'CIN', 'BR (OLD)',
       'DAN', 'SFA', 'RBK', 'SEBL', 'MERQ', 'VC', 'KRB', 'GP', 'CPN',
       'T (Old)', 'DPH', 'PVN (Fin)', 'G (Gil)', 'MAY', 'DAL', 'NXTL',
       'SDS', 'UCL', 'TOY', 'VRTS (Veri)', 'GLK (Chem)', 'S (Sears)',
       'PWER', 'PSFT', 'CR', 'DLX', 'WOR', 'WIN (W-D)', 'WLP', 'SOTR',
       'AWE', 'CF (Char)', 'TNB', 'ONE', 'UPC', 'AM', 'JHF',
       'PCS (Sprint)', 'TAP.B', 'FBF', 'TUP', 'CE (Con)', 'BGEN', 'QTRN',
       'MDR', 'GEN (Gen)', 'PHA', 'HI (Hou)', 'EHC', 'AMR (AMR)', 'RATL',
       'TRW (TRW)', 'CMCSK (Old)', 'COC.B', 'VTSS', 'PALM', 'CNO', 'PDG',
       'RD', 'UN', 'NT', 'AL (Alc)', 'ABX', 'N (Inc)', 'IMNX', 'CNXT',
       'U', 'WCOM', 'SAPE', 'CPQ', 'WLL (Wil)', 'NMK', 'MEA', 'KM', 'FMC',
       'HM', 'RAL', 'NSI', 'ENRNQ', 'GPU', 'GLBC (Glob)', 'TX', 'TOS',
       'WB (Old)', 'BVSN', 'AGC', 'OKE', 'TKR', 'ETS', 'OAT', 'PCH',
       'LDG', 'H (Har)', 'AZA.A', 'SXCL', 'BGG', 'CEN', 'OK', 'SUB',
       'USB (FBS)', 'UK', 'CGP', 'TWX (Old)', 'JPM (Old)', 'SMI', 'RML',
       'PRD', 'NGH', 'BS', 'CCK', 'GRA', 'VO', 'AFS.A', 'FPC', 'FJ',
       'SEG', 'ACKH', 'PWJ', 'CG', 'EFU', 'UCM', 'MKG', 'YNR', 'BFO',
       'OC', 'GAP', 'NCE', 'COMS', 'RAD', 'UPR', 'USW', 'GTE (GTE)', 'MZ',
       'IKN', 'WLA', 'SGI (Old)', 'CHA', 'CSR', 'UMG', 'TMC.A', 'SMS',
       'NC', 'MIR (M. R.)', 'JOS', 'CBS (Old)', 'RLM', 'ARC (Atl)', 'PNU',
       'PBY', 'SCI', 'FWLT', 'CNG', 'FLE', 'NLV'], dtype=object)

In [44]:
remove_data = remove_data[remove_data["Ticker"] != "-"]

In [45]:
remove_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 577 entries, 0 to 613
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Change Date  577 non-null    object
 1   Ticker       577 non-null    object
dtypes: object(2)
memory usage: 13.5+ KB

In [46]:
remove_data.sort_values("Change Date", inplace=True)
remove_data.reset_index(drop=True, inplace=True)
remove_data.head()

  Change Date Ticker
0  2000-01-05    NLV
1  2000-01-28   FWLT
2  2000-01-28    FLE
3  2000-01-28    CNG
4  2000-03-15    SCI

Writing the data to csv as the final data

In [47]:
remove_data.to_csv("../../sp500_removals.csv", index=False)